/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color: black; text-decoration: none;}
a:visited, a:focus, a:link, a:active, a:hover {
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
img { border:0;}
h1 { margin: 0; }
hr {
  margin-top: 0;
  margin-bottom: 0;
}
html { height: 100%; }

/* Now body takes the height as 100% */
body {
    height: inherit;
    background: gray;
    color: black;
    font-family: "Merriweather", serif;
    /*letter-spacing: 0.01rem;*/
    /*font-size: 1.8rem;*/
    line-height: 1.75em;
    letter-spacing: -0.1rem;
    word-spacing: 0.1rem;
}

/* This prevents horizontal scrolling */
/*html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}
*/
/*li {
    display: inline;
    margin-right: 25%;
}*/

textarea {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

.noMargins {
  margin: 0;
}

.imageRadius {
  border-radius: 50%;
}

.popupBackground {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
}

.popup {
  display: block;
  width: 100%;
  z-index: 100;
  position: fixed;
  bottom: 0;
}

.btn,
.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #D2AE2E;
  border-color: #C6A42E;
  font-size: 1.5rem;
}

.login {
  background-color: #181818;
  /*background-image: url("./img/login_bg.jpg");*/
  color: white;
  height: 100vh;
}

.login h1 {
  margin-bottom: 10px;
}

#navigation,
#navigation nav {
  height: 4rem;
}

#navigation a {
  color: white;
}


.inputGroup {
  margin-bottom: 10px;
}

.gotoSignup {
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: -15px;
}

.gotoSignup a, a:visited, a:focus, a:link, a:active, a:hover {
  color: #BFBFBF;
  text-decoration: underline;
}

/* navigatin bar */
.alert {
  position: fixed;
  top: 0;
  z-index: 66;
  text-align: center;
  width: 100%;
}

.alert.success {
  background-color: #42db73;
}

.alert.fail {
  background-color: crimson;
}

/* history */
.statusTitle {
  padding: 0.5rem 1.25rem;
}

/* report box */
.reportBox {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
}

.reportButtonSet {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 99;
}

.reportInputBox {
  position: relative;
  top: 35%;
  left: 10%;
  height: 30%;
  width: 80%;
}
.reportInputBox textarea {
  position: relative;
  z-index: 99;
  height: 75%;
  border: 1px solid gray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 1rem;
}

.reportInputBox textarea:focus {
  outLine: none;
  border-color: skyblue;
  box-shadow: 0 0 10px #719ECE;
}

.reportInputBox .reportButtonSet {
  position: absolute;
  height: 25%;
}

.reportInputBox .reportButtonSet .reportLeftBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 6px;
}

.reportInputBox .reportButtonSet .reportRightBtn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 6px;
}

.reportBtn {
  width: 100%;
}

/* cardFooter */
.wishSet,
.likeSet,
.reportSet,
.createProjectBtn {
  font-size: 1.4rem;
  line-height: 2rem;
  vertical-align: middle;
}

/* Card */
.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  /*border-radius: .25rem;*/
}

.projectHeader {
  background-color: #d8d8d8;
  border: 1px solid #bfbfbf;
}

.card-block {
  padding: 1.25rem;
}

.conImg {
  width: 100%;
  height: auto;
}

/* userSettings */
.userPhotoUpload {
  display: none;
}

.transactionTable {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

.transactionTable thead {
  background-color: gainsboro
}

.transactionTable tr {
  line-height: 3rem;
}

.transactionTable td {
  padding-left: 0.5rem;
}

.transactionTable thDate{
  width: 22%;
}

.transactionTable thAmount, thStatus {
  width: 20%;
}

.transactionTable tbody tr {
  border-bottom: 1px solid gainsboro;
}

/* Sidebar */
.sidebar {
  left: -100%;
  top: 0;
  width: 70%;
  height: 100%;
  position: fixed;
  background: #202020;
  transition: all 0.5s;
  z-index: 10;
  padding-top: 30px;
  color: white;
}

.sidebarBg {
  left: -100%;
}

.sidebarBg .close {
    top: 10px;
    right: 10px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
}

.sidebar .userphoto img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.sidebar .userinfo {
  text-align: center;
  margin-top: 20px;
}

.sidebar .userinfo .username {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.sidebar .userinfo .userstats {
  color: #8A8A8A;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
}

.sidebar .menu {
  margin-top: 30px;
  text-align: center;
}

.sidebar .menu ul li {
  border-bottom: 1px solid #545454;
}

.sidebar .menu ul li:last-child {
  border-bottom: none;
}

.sidebar .menu ul li a {
  line-height: 3rem;
  vertical-align: middle;
  color: #F1F1F1;
  font-size: 1.6rem;
  font-weight: 300;
}

.sidebar .menu ul li a:hover {
  /*background-color: #fafcfd;*/
}

.sidebar .menu ul li .ongoing a {
  /*color: #93a3b5;*/
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.sidebar .menu ul li .ongoing li {
  border-bottom: none;
}

/*Hiding default input type=file button*/
/*http://stackoverflow.com/questions/6376452/hide-the-browse-button-on-a-input-type-file*/
/*.upload_form {
    display: inline;
    height: 30px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    width: 118px;
    background-color: #fff;
    cursor: pointer;
}
.upload_form > input[type="file"] {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    height: 20px;
}
.upload_form > .btn-file-input {
    background-color: #494949;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 34px;
    margin: 0 0 0 -1px;
    padding-left: 0;
    width: 121px;
    cursor: pointer;
}*/

/*Calendar*/
.Calendar {
    border-collapse: collapse;
    padding: 0;
    margin: 1rem auto 0;
    background: #fff;
    width: 100%;
    font-size: 1em;
}
.Calendar th,
.Calendar td {
    padding: .25rem;
    text-align: center;
}
.Calendar th {
    background: #ddd;
    padding: .5rem 1rem;
}
.Calendar .month-header {
    border-bottom: 1px solid #fff;
}
.Calendar .nav .nav-inner {
  cursor: pointer;
  border: 0;
  background: none;
}
.Calendar .Day {
    cursor: pointer;
    width: 14%;
}
.Calendar .Day .Day-inner {
    background: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
/*    line-height: 2em;
    width: 100%;
    height: 100%*/
}
.Calendar .Day button.Day-inner {
    border: 0;
}
.Calendar .Day a.Day-inner {
    color: inherit;
}
/*.Calendar .Day.weekend {
    background: #bdc3c7;
    color: #000;
}*/
.Calendar .Day.inavailableDay {
  background: #cacaca;
  color: #000;
}
.Calendar .Day.other-month {
    color: #999;
    font-style: italic;
}
.Calendar .Day.today .Day-inner {
    background: #fafad2;
    color: #000;
}
/*.Calendar .Day.availableDay:hover .Day-inner {
    background: #eee;
    color: #000;
}*/
.Calendar .Day.selected .Day-inner {
    background: #2980b9;
    color: #fff;
}
